<template>
  <div>
    <h1 class="text-center pb-4 text-teal-600 text-2xl">{{ section }}</h1>
    <div class="flex flex-row justify-between mb-8">
      <button
        @click="showSettings = !showSettings"
        class="font-bold py-2 px-4 rounded bg-gray-300 hover:bg-gray-400 text-gray-800"
      >
        <font-awesome-icon icon="wrench" />
        <span class="ml-2">{{
          showSettings ? 'Hide Settings' : 'Show Settings'
        }}</span>
      </button>
      <TypingSettings
        v-if="showSettings"
        @start-game="startGame"
        v-bind:text-length="textLength"
      />
    </div>

    <div v-if="textLength" class="mb-4">
      <span
        class="text-xl"
        v-for="(letter, index) in randomText.split('')"
        v-bind:class="compare(letter, inputText[index])"
        :key="index"
        >{{ letter }}</span
      >
    </div>

    <input
      v-if="textLength"
      v-model="inputText"
      v-on:keyup="runTypingTimer($event.target.value)"
      v-bind:disabled="ended"
      class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
      v-bind:class="this.ended && 'opacity-50'"
    />

    <TypingScores @start-game="startGame()" :score="score" :ended="ended" />
  </div>
</template>

<script>
import { lorem } from 'faker';
import TypingSettings from '../TypingSettings';
import TypingScores from '../TypingScores';

export default {
  components: { TypingSettings, TypingScores },
  data() {
    return {
      showSettings: false,
      inputText: '',
      inputLetter: '',
      textLength: null,
      randomText: '',
      section: 'Typing test',
      started: false,
      startTime: null,
      ended: false,
      endTime: null,
      score: null,
    };
  },
  created() {
    this.startGame('sentence');
  },
  methods: {
    startGame(type, textRepetition = 1) {
      this.started = false;
      this.ended = false;
      this.startTime = null;
      this.endTime = null;
      this.inputText = '';
      this.inputLetter = '';
      this.randomText = this.setTextLength(type, textRepetition);
    },
    setTextLength(textLength, textRepetition = 1) {
      switch (textLength) {
        case 'sentence':
          this.textLength = 'sentence';
          return lorem.sentences(textRepetition);
        case 'paragraph':
          this.textLength = 'paragraph';
          return lorem.paragraphs(textRepetition);
        default:
          return lorem.sentence(textRepetition);
      }
    },
    compare(enteredLetter, enteredText) {
      if (!enteredText) {
        return 'gray';
      }

      return enteredLetter === enteredText ? 'correct' : 'incorrect';
    },
    handleInput(event) {
      this.inputLetter = event.target.value;
    },
    runTypingTimer() {
      const inputLength = this.inputText.split(' ').join('').length;
      const randomLength = this.randomText.split(' ').join('').length;

      // If the game is not strated yet, start the timer
      if (!this.started) {
        this.startTime = new Date();
        this.started = true;
      }

      // Check for the randomText and inputText
      if (this.started && inputLength === randomLength) {
        this.endTime = new Date();
        this.ended = this.inputText === this.randomText ? true : false;
      }

      if (this.ended) {
        const totalTime = (this.endTime - this.startTime) / 1000;
        this.score = Math.floor((60 * inputLength) / totalTime);
      }
    },
  },
};
</script>

<style>
.correct {
  color: green;
}

.incorrect {
  color: red;
}

.default {
  color: gray;
}
</style>
