<template>
  <div class="flex flex-col max-w rounded overflow-hidden shadow-lg m-2">
    <div class="p-4 text-gray-700">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  data: function() {
    return {
      // title: 'This is a card title',
    };
  },
};
</script>

<style></style>
