<template>
  <div class="flex flex-col p-4 shadow-lg">
    <img src="../../assets/logo_transparent.png" class="pb-6" />
    <ul class="list-none">
      <router-link
        to="/"
        class="sideenav block text-gray-700 text-center hover:text-gray-800 px-4 py-2 mb-1"
      >
        Home
      </router-link>
      <router-link
        to="/typing"
        class="block text-gray-700 text-center hover:text-gray-800 px-4 py-2 mb-1"
      >
        Typing
      </router-link>
      <router-link
        to="/about"
        class="block text-gray-700 text-center hover:text-gray-800 px-4 py-2 mb-1"
      >
        About
      </router-link>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      linkSelected: null,
    };
  },
  methods: {},
};
</script>

<style>
ul > .router-link-exact-active {
  @apply bg-gray-400;
}
</style>
