<template>
  <div class="inline-flex">
    <input
      type="number"
      v-model="textRepetition"
      class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-1 px-4 appearance-none leading-normal mr-4"
      placeholder="Times to repeat"
    />
    <button
      @click="startGame('sentence')"
      :class="
        textLength === 'sentence'
          ? 'bg-gray-600 text-white hover:bg-gray-700'
          : 'bg-gray-300 hover:bg-gray-400 text-gray-800'
      "
      class="font-bold py-2 px-4 rounded-l"
    >
      Sentence
    </button>
    <button
      @click="startGame('paragraph')"
      :class="
        textLength === 'paragraph'
          ? 'bg-gray-600 text-white hover:bg-gray-700'
          : 'bg-gray-300 hover:bg-gray-400 text-gray-800'
      "
      class="font-bold py-2 px-4 rounded-r"
    >
      Paragraph
    </button>
  </div>
</template>

<script>
export default {
  props: ['textLength'],
  data() {
    return {
      textRepetition: null,
    };
  },
  methods: {
    startGame(type) {
      this.$emit('start-game', type, this.textRepetition);
    },
  },
};
</script>

<style></style>
