<template>
  <span class="inline-flex w-1/2 mt-4">
    <button
      v-if="ended"
      class="bg-blue-500 flex-grow text-white font-bold mr-4 py-2 px-4 rounded"
    >
      {{ score }} WPM!
    </button>
    <button
      v-if="ended"
      v-on:click="startGame()"
      class="bg-green-500 flex-grow text-white font-bold py-2 px-4 rounded"
    >
      Start over
    </button>
  </span>
</template>

<script>
export default {
  props: ['ended', 'score'],
  methods: {
    startGame() {
      this.$emit('start-game');
    },
  },
};
</script>

<style></style>
