<template>
  <div id="app">
    <Styles />
    <div class="flex min-h-screen">
      <SideNav
        class="flex flex-col pin-y pin-l sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6"
      />
      <div class="w-full flex flex-col">
        <Header />
        <Card class="flex-grow">
          <!-- Router View -->
          <router-view></router-view>
        </Card>
      </div>
    </div>
  </div>
</template>

<script>
import Card from './components/Layout/Card';
import Header from './components/Layout/Header';
import SideNav from './components/Layout/SideNav';

export default {
  name: 'App',
  components: {
    Card,
    Header,
    SideNav,
  },
};
</script>

<style></style>
